doctype html
html(lang='en')
  head
    meta(name='google-site-verification', content='6qvJCoNoe_PMMcilAvLHiRgvn8S89ltVbLwdHaONPMg')
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=Edge')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    meta(name='keywords', content='')
    meta(name='description', content='')
    // SITE TITLE
    title Abhijeeth Baregal
    // STYLESHEETS
    link(rel='stylesheet', href='css/bootstrap.min.css')
    link(rel='stylesheet', href='css/font-awesome.min.css')
    link(rel='stylesheet', href='css/templatemo-style.css')
    link(href='//fonts.googleapis.com/css?family=Raleway:400,300,600,700', rel='stylesheet', type='text/css')
    link(rel='stylesheet', href='https://www.w3schools.com/w3css/4/w3.css')
    link(rel='stylesheet', href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css')
    //
  body(data-spy='scroll', data-target='#rock-navigation')
    .navbar.navbar-default.bs-dos-nav.navbar-fixed-top.sticky-navigation(role='navigation')
      .container
        .navbar-header
          button.navbar-toggle(data-toggle='collapse', data-target='#rock-navigation')
            span.icon.icon-bar
            span.icon.icon-bar
            span.icon.icon-bar
          a.navbar-brand(href='/') Welcome
        nav#rock-navigation.collapse.navbar-collapse
          ul.nav.navbar-nav.navbar-right.main-navigation.text-uppercase
            li
              a.smoothScroll(href='/') Home
              li
                a.smoothScroll(href='#work') My Work
              li
                a.smoothScroll(href='#portfolio') My Projects
              li
                a.smoothScroll(href='#resume') Resume
              li
                a.smoothScroll(href='#about') About
              li
                a.smoothScroll(href='#contact') Contact
             

            
              
    // END NAVIGATION
    // START HOME


    section#home.templatemo-home
      .container
        .row
          .col-md-2.col-sm-1
          .col-md-8.col-sm-10
            h1.tm-home-title
              strong Abhijeeth Baregal
            h2.tm-home-subtitle Software Developer
            p
              |I am a Graduate Student at    
              strong University of Louisiana at Lafayette 
              |  specializing in 
              strong Web Applications Dev
              | . Accustomed to fast-paced environment, team and individual projects. Reputation for quick Learner 
               
 
              .w3-container
                    i.fa.fa-quote-right.w3-xlarge
                    
                    i.w3-serif.w3-xlarge
                      p Never judge your output by your tiredness, you're sure to be misled


          .col-md-2.col-sm-1
    // END HOME
    // START work
    section#work.tm-padding-top-bottom-100
      .container
        .row
          .col-md-offset-1.col-md-11
            h2.title
              | My 
              strong Work
          .col-md-4.col-sm-4
            .work-wrapper
              i.fa.fa-diamond
              h3.text-uppercase.tm-work-h3 Web Developer Intern 
              strong PIXMINDZ LABS Private Ltd.
              hr
              p
                | Developed a web application for Student Associations which maintain records of new volunteers, their individual
                | responsibilities. Also used to post upcoming events. A platform to learn Agile Methodology 
          .col-md-4.col-sm-4
            .work-wrapper
              i.fa.fa-code
              h3.text-uppercase.tm-work-h3 Developer Intern 
              strong Supath InfoTech Pvt Ltd.
              hr
              p
                | An opportunity to work on a real time project for an educational institution using XAMPP.
                | As a part of training, we designed an online “CV builder” for students to build their Profile
          .col-md-4.col-sm-4
            .work-wrapper
              i.fa.fa-android
              h3.text-uppercase.tm-work-h3 Software Developer 
              strong PIXMINDZ LABS Private Ltd.
              hr
              p
                |A "College Alerts" app which introduces a novel approach for posting marks, attendances etc. and updating it via mobile application 
                |Exposure to Android Operating System
                 
    // END work
    // START PORTFOLIO
    section#portfolio.tm-portfolio
      .container
        .row
          .col-md-12.wow.bounce
            .title
              h2.tm-portfolio-title
                | My 
                strong Projects
            // START ISO SECTION
            .iso-section
              ul.filter-wrapper.clearfix
                li
                  a.opc-main-bg(href='#', data-filter='*') All
                li
                  a.opc-main-bg(href='#', data-filter='.ruby') Web Development
                li
                  a.opc-main-bg(href='#', data-filter='.proglang') Interpreter
                li
                  a.opc-main-bg(href='#', data-filter='.graphics') Computer Graphics
                li
                  a.opc-main-bg(href='#', data-filter='.embedded') Embedded systems
                li
                  a.opc-main-bg(href='#', data-filter='.mobile') Ongoing Projects
              .iso-box-section
                .iso-box-wrapper.col4-iso-box
                    .iso-box.graphics.col-md-3.col-sm-3.col-xs-12
                      .portfolio-thumb
                        img.fluid-img(src='/project/nodekb/images/cg3.jpg', alt='portfolio img')
                        .portfolio-overlay
                          h3.portfolio-item-title 
                          p Project Description
                    
                    .iso-box.embedded.col-md-3.col-sm-3.col-xs-12
                      .portfolio-thumb
                        img.fluid-img(src='/project/nodekb/images/wireless-remote.jpg', alt='portfolio img')
                        .portfolio-overlay
                          h3.portfolio-item-title 
                          p Project Description
                    .iso-box.proglang.col-md-3.col-sm-3.col-xs-12
                      .portfolio-thumb
                        img.fluid-img(src='/project/nodekb/images/Rust_2.jpg', alt='portfolio img')
                        .portfolio-overlay
                          h3.portfolio-item-title 
                          p Interpreter containing Scanner and parser that read the input stream of characters and convert it into a vector of tokens to evaluate the expressions of Let and Proc languages 
                    .iso-box.mobile.col-md-3.col-sm-3.col-xs-12
                      .portfolio-thumb
                        img.fluid-img(src='/project/nodekb/images/portfolio-img6.jpg', alt='portfolio img')
                        .portfolio-overlay
                          h3.portfolio-item-title 
                          p A web app hotel management web app with functionalities useful for Guests, Management and Staff
                    .iso-box.mobile.col-md-3.col-sm-3.col-xs-12
                      .portfolio-thumb
                        img.fluid-img(src='/project/nodekb/images/portfolio-img7.jpg', alt='portfolio img')
                        .portfolio-overlay
                          h3.portfolio-item-title 
                          p Designing a meta search engine that blends the top search results from the websites 
                    .iso-box.mobile.col-md-3.col-sm-3.col-xs-12
                      .portfolio-thumb
                        img.fluid-img(src='/project/nodekb/images/portfolio-img8.jpg', alt='portfolio img')
                        .portfolio-overlay
                          h3.portfolio-item-title 
                          p A professional website for a Non-Profit Organization with modern UI using MERN stack
                    .iso-box.ruby.col-md-3.col-sm-3.col-xs-12
                      .portfolio-thumb
                        img.fluid-img(src='/project/nodekb/images/ruby1.jpg', alt='portfolio img')
                        .portfolio-overlay
                          h3.portfolio-item-title 
                          p An interactive web application enabling a panel of judges to grade registered team’s participating in the contest 
                    .iso-box.ruby.col-md-3.col-sm-3.col-xs-12
                      .portfolio-thumb
                        img.fluid-img(src='/project/nodekb/images/ruby2.jpg', alt='portfolio img')
                        .portfolio-overlay
                          h3.portfolio-item-title 
                          p Project Description
    // END PORTFOLIO
    // START RESUME
    section#resume.tm-padding-top-bottom-100
    
      .container
        .row
          .col-md-6.col-sm-6
          
            h2.title
              | My 
              strong Profile
            p
              span.tm-info-label Name
              |  Abhijeeth Baregal
            p
              span.tm-info-label Birthday
              |  December 30
            p
              span.tm-info-label Hobbies
              |Snookers, Badminton, Guitar, Martial Arts,
              |Skating, Cricket, Painting, Video games, Read Books
                
            p
              span.tm-info-label Phone
              |  +1 337 504 8511 
            p
              span.tm-info-label Email
              |  abhijeethbaregal@gmail.com
            p
              span.tm-info-label Website
              a.tm-red-text(href='#') baregal.herokuapp.com
           
            h2.title
              strong My
              |   Activities
            p
              span.tm-info-label  VicePresident
              p|   Association of Indian Students-UL Lafayette
            p  
              span.tm-info-label StudentSecretary
              p|   IEEE(JNTUH) - India
              
              p
              span.tm-info-label
              a.btn.btn-default.smoothScroll.tm-view-more-btn(href='/project/nodekb/Personal_Documents/ABHIJEETH.pdf', download='ABHIJEETH BAREGAL') Download Resume
              
          .col-md-6.col-sm-6
          
            h2.title
              strong My
              |   Journey
            p
              p
              |My passion towards gaming gadgets is the reason I started my career by choosing Electronics and Communications as major for my Bachelor's. 
              |Eventually, when I started doing my projects in Embedded Systems, I was more proficient at coding over designing hardware architectures. 
              p
              |This may not sound like a lot of experience, but finishing my second year has been a huge milestone for me. 
              |This is because I had no real experience doing coding '<>' and not much programming experience in general beyond some basic Programming training I got from few internships, online courses from Udacity, Coursera etc. 
              p
              |After deciding to get into software development, the first question on my mind was “What do I learn?” After doing some research, I ended up making my learning path based on what most entry-level software developer positions 

            h2.title
              strong My Skills
              
            h4.tm-progress-label
              | Problem-Solving 
              small.progress-percent-small 90%
            .progress.tm-progress
              .progress-bar.progress-bar-danger(role='progressbar', aria-valuenow='100', aria-valuemin='0', aria-valuemax='100', style='width: 100%;')
            h4.tm-progress-label
              | Team Work and Planning
              small.progress-percent-small 85%
            .progress.tm-progress
              .progress-bar.progress-bar-danger(role='progressbar', aria-valuenow='90', aria-valuemin='0', aria-valuemax='100', style='width: 90%;')
            h4.tm-progress-label
              | Agile and Productive
              small.progress-percent-small 80%
            .progress.tm-progress
              .progress-bar.progress-bar-danger(role='progressbar', aria-valuenow='80', aria-valuemin='0', aria-valuemax='100', style='width: 85%;')
            h4.tm-progress-label
              | Time Management
              small.progress-percent-small 95%
            .progress.tm-progress
              .progress-bar.progress-bar-danger(role='progressbar', aria-valuenow='80', aria-valuemin='0', aria-valuemax='100', style='width: 95%;')
    // END RESUME
    // START ABOUT
    section#about.tm-about
      .container
        .row
          .col-md-offset-6.col-md-6.col-sm-offset-6.col-sm-7
            .title
            
              h2
                | 
                strong 
              h1.tm-red-text
                | The Story of My Life
                strong 
            
            p(style='color:black')
              |I was born in Karnataka, India – I appreciate those who know exactly where that is! The fact I turned 23 recently amazes me off,  
              |since I look much younger. Cars are true love of my life.
            p(style='color:black')
              |I’m a fan of Batman as he's rich, elegant, tech freak and hacking gadgets.
              |That’s not the only reason why I’m “geeky” or addicted to technology is beacuse of games. 
              |I like to face challenges, making new connections, learning new skills.
            .w3-container
              i.fa.fa-quote-right.w3-xlarge
              
              i.w3-serif.w3-xlarge
                p You will never know how much you can accomplish until you try. Never stop trying
              
    // END ABOUT
    // START SOCIAL
    section#social.tm-social
      .container
      
        .row
          .col-md-4.col-sm-4.wow.rotateInUpLeft(data-wow-delay='0.3s')
  
            .media.facebook
              a(href='https://www.facebook.com/Abhijeeth.abs')
                .media-object.pull-left
                  i.fa.fa-facebook
                .media-body
                  h4.media-heading.tm-social-title To know about my Social life
                  h3 Social Facebook
          .col-md-4.col-sm-4.wow.rotateInUpLeft(data-wow-delay='0.9s')
      
            .media.linkedin
              a(href='https://www.linkedin.com/in/abhijeeth-baregal/')
                .media-object.pull-left
                  i.fa.fa-linkedin
                .media-body
                  h4.media-heading.tm-social-title To know about my Professional Experience
                  h3 Social linkedin
          .col-md-4.col-sm-4.wow.rotateInUpLeft(data-wow-delay='0.6s')
       
            .media.instagram
              a(href='https://www.instagram.com/the_abhi22/')
                .media-object.pull-left
                  i.fa.fa-instagram
                .media-body
                  h4.media-heading.tm-social-title To see me as a Model
                  h3 Social instagram
    section#contact.tm-contact
      .container
        .row
          .col-md-12
            h2.title
                | To Hire me     
                strong Drop a message
                
          .col-md-1.col-sm-1
          .col-md-10.col-sm-10
            .contact
            form(action='send', method='POST', id= 'contactform')
              .col-md-6.col-sm-6
                input.form-control(type='text', name = "name", placeholder='Name', id = 'name')
              .col-md-6.col-sm-6
                input.form-control(type='email', name = "email",placeholder='Your Email', id ='email')
              .col-md-12.col-sm-6
                input.form-control(type='text', name = "company",placeholder='Your Company',id = 'company')
              .col-md-12.col-sm-6
                input.form-control(type='text', name = "phone",placeholder='Your Phone', id = 'phone')
              .col-md-12.col-sm-12    
                textarea.form-control(name = "message", placeholder='Your Message', rows='6', id = 'message')
              .col-md-offset-2.col-md-8.col-sm-offset-2.col-sm-8
          
                input.form-control(type='submit', value='SEND')
  
    // END CONTACT
    script(src='js/jquery.js')
    script(src='js/bootstrap.min.js')
    script(src='js/smoothscroll.js')
    script(src='js/jquery.nav.js')
    script(src='js/isotope.js')
    script(src='js/imagesloaded.min.js')
    script(src='js/custom.js')
    script(src='https://www.gstatic.com/firebasejs/4.6.2/firebase.js')
    script(src='js/main.js')
    
    
